html {
    color:white;
    margin:auto;
}
* {             /**BOX-Model_säännöt DONT CHANGE**/
    box-sizing: border-box; 
   }
#main {         /**BOX-Model_säännöt DONT CHANGE**/
     display: flex;
     min-height: calc(100vh - 0vh);
}
body {
    background-color:black;
    margin: 0;
    text-align:center;
    position:relative;
    /** background-image:url("Graphics/gameArea/background.jpg"); **/
    background-image:url("Graphics/gameArea/space_background_design.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow:hidden;
}

video, .bgImage{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
}


h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-size:15px;
    letter-spacing: 2;
}

/** HEADER ALUEEN SÄÄDÖT **/
/** HEADER ALUEEN SÄÄDÖT **/
/** HEADER ALUEEN SÄÄDÖT **/
header{
    /** background-image: linear-gradient(rgb(22, 76, 177), rgb(0, 33, 87)); **/
    background-image: linear-gradient(rgb(0, 33, 87), rgb(177, 22, 151));
    height: 8vh;
    text-align:center;
    box-shadow: 0px 0px 100px 10px rgb(132, 0, 255, 0.8);
    z-index:50;
}
#headerBg{
    background-image: url(Graphics/controls/lineTest.png);
    width:100%;
    height: 8vh;
    position:absolute;
    opacity: 20%;
}
.logo{
    margin-top:-34px;
    width:550px;
    position:absolute;
}




#showClick, #showClick1, #showClick2, #showClick3, #showClick4{
    position:fixed;
    color:black;
    font-weight: bolder;
    font-size:40;
    width:50px;
    z-index:15;
    margin-left:-20px;
    margin-top:-20px;
    user-select: none;

}


/** HEADER ALUE END **/
/** HEADER ALUE END **/
/** HEADER ALUE END **/


#randomFacts, #startGameNotification{
    background-image: linear-gradient(rgb(19, 47, 99), rgb(25, 69, 141));
    box-shadow: 0 4px 5px rgb(0 0 0 / 0.3);
    width:370px;
    height:auto;
    min-height:70px;
    padding-bottom:5px;
    text-align:center;
    margin:auto;
    border-radius: 20px;
}
#startGameNotification{
    background-image: linear-gradient(rgb(19, 47, 99), rgb(25, 69, 141));
    box-shadow: 0 4px 5px rgb(0 0 0 / 0.3);
    width:370px;
    height:70px;
    text-align:center;
    border-radius: 20px;
}
.randomFactText{
    position:relative;
    padding-top:12px;
    padding-left:60px;
    width:370px;
}
.startGameText{
    position:relative;
    padding-top:22px;
    padding-left:40px;
    width:370px;
}
#startNotification {
    position:absolute;
    text-align:center;
    margin:auto;
    width:100%;

}


.factSpaceHelmet{
    width:50px;
    margin-left:-170px;
    margin-top:10px;
    position:absolute;

}


/** UPGRADES LEFT ALUEEN SÄÄDÖT **/
/** UPGRADES LEFT ALUEEN SÄÄDÖT **/
/** UPGRADES LEFT ALUEEN SÄÄDÖT **/


#leftNav {    /**BOX-Model_säännöt DONT CHANGE**/
    flex: 0 0 17vw;
    z-index:10;
    order: -1;
    font-family: 'Ubuntu', sans-serif;

}

#leftNav { /** Vapaat säännöt **/
    background-image: linear-gradient(rgba(65, 10, 107, 0.829), rgba(41, 13, 201, 0.391));
    min-width:200px;
}

#levelBar{
    width:17vw;
    height:30px;
    border-style:solid;
    border-width: 1px 0px 1px 0px;
    border-color: rgb(255, 255, 255);

}
#levelBarAmount{
    width:0%;
    height:26px;
    background-image: linear-gradient(rgb(0, 239, 239), rgb(25, 69, 141));
}
.levelProgressText{
    position:absolute;
    margin-top:4px;
    margin-left:100px;
}



#spaceRocketBoostBar{
    margin-top:5px;
    width:17vw;
    height:30px;
    border-style:solid;
    border-width: 1px 0px 1px 0px;
    border-color: rgb(255, 255, 255);

}
#spaceRocketBoostBarAmount{
    width:0%;
    height:26px;
    background-image: linear-gradient(rgb(239, 48, 0), rgb(255, 166, 0));
}
.levelProgressText{
    position:absolute;
    margin-top:4px;
    margin-left:100px;
}



#upgrade1, #upgrade2, #upgrade3, #upgrade4{
    text-align:left;
    height:50px;
     /** background-image: linear-gradient(rgb(19, 47, 99), rgb(25, 69, 141)); **/
     background-image: linear-gradient(rgb(76, 0, 255), rgb(34, 17, 185));
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
}
#upgrade1, #upgrade2, #upgrade3, #upgrade4, #upgradesTitle{
    border:solid #CCC;
    border-width: 1px 0px 1px 0px;
    vertical-align:middle;
    margin-top:15px;
}

#upgradesTitle {
    border:solid #CCC;
    border-width: 0px 0px 0px 0px;
    vertical-align:middle;
    margin-top:15px;


}
#upgrade1:hover, #upgrade2:hover, #upgrade3:hover {
    background-image: linear-gradient(rgb(57, 0, 190), rgb(20, 8, 131));
}

#upgrades p, #upgrades button{
    margin-left:20px;
}

.hiddenUpgrade{
    opacity: 35%;
}
.hiddenUpgradeNext{
    opacity: 10%;
}


#currentEnergy{

    width:max;
    height:50px;
}
.currentEnergyText{
    float:left;
    width:160px;
    margin-top:17px;
    margin-left:10px;
    font-size:15px;
    text-transform: uppercase;


}
.currentEnergyIcon {
    float:left;
    margin-left:20px;
   margin-top:10px;

}
#currentEnergyNum{
    float:left;
    width:30px;
    margin-top:25px;
    font-weight: bold;
    color:ffa800;
}

.upgradesEnergyIcon{
    margin-top:-22px;
    margin-left:20px;
    position:absolute;
    width:40px;
}
#upgrades p.otsikko{
     margin-top:0px;

}
#upgrades p.hinta{
    margin-top:-13px;
    margin-left:65px;
}




/**TOOLTIPPI START**/

#tooltip .tooltiptext {
    visibility: hidden;
    width: 390px;
    height: 47px;
    margin-left:200px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size:14px;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
#upgrade1:hover .tooltiptext, #upgrade2:hover .tooltiptext, #upgrade3:hover .tooltiptext{
    visibility: visible;
}

#trophyTip .trophyTipText {
    visibility: hidden;
    width: 100px;
    height: 47px;
    margin-left:00px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size:14px;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }


.achievementIcon:hover #trophyTip .trophyTipText {
    visibility: visible;
}

/**TOOLTIPPI END**/




.ohjeet{
    position:relative;
    margin:auto;
    text-align: center;
    margin-top:10px;
    
    
}
.ohjeet p{

}

#ohjeetPopup, #releaseNotes{

    position:relative;
    width:600px;
    height:265px;
    background-image: linear-gradient(rgb(19, 47, 99), rgb(25, 69, 141));
    box-shadow: 0 4px 5px rgb(0 0 0 / 0.3);
    margin:auto;

    margin-top:-200px;
    z-index:200;

    border-radius: 20px;
}

.ohjeetPopUpText{
    list-style-type: none;
    text-align:left;
    font-size:12px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#ohjeetPopupTable{
    height:100%;
    width:100%;
    background-color:red;
}
.ohjeetPopupCloseButton{
    height:30px;
    width:30px;
    z-index:500;
    position:absolute;
    margin-left:250;
    color:rgb(134, 134, 134);
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(rgb(25, 69, 141), rgb(19, 47, 99));
    border:0;
    box-shadow: 0px 4px 5px #0000006c;
}
.ohjeetPopupCloseButton:hover{
    color:white;
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(rgb(25, 69, 141), rgb(4, 31, 75));
}










.releaseNotes {
    position:relative;
    margin:auto;
    text-align: center;

}


/** UPGRADES LEFT ALUE END **/
/** UPGRADES LEFT ALUE END **/
/** UPGRADES LEFT ALUE END **/





/** STATS RIGHT ALUEEN SÄÄDÖT **/
/** STATS RIGHT ALUEEN SÄÄDÖT **/
/** STATS RIGHT ALUEEN SÄÄDÖT **/

#rightNav{  /**BOX-Model_säännöt DONT CHANGE**/
    flex: 0 0 17vw;
    z-index:10;
    padding: 1em;
    font-family: 'Ubuntu', sans-serif;
}

#rightNav {
    text-align:center;
    /** background-color:rgba(12, 48, 120, 0.70); **/
    background-image: linear-gradient(rgb(65, 10, 107), rgba(41, 13, 201, 0.253));
    
    min-height:100%;
    float:right;
    z-index:100;
}
#stats{
    background-image: linear-gradient(rgb(99, 19, 88), rgb(56, 25, 141));
    height:255px;
    box-shadow: inset 0 0 12px 6px rgba(0, 0, 0, 0.349);
    text-align:left;
    border-radius: 10px;
    
}

#statsBar{

    height:51px;
}
#statsBar p {
    margin-left:15px;
}
.TitleUpperCase {
    text-transform: uppercase;;
    color: rgb(255, 208, 0);

}
.statsTitle{
    width:200px;
    width:11vw;
    float:left;

}
#boostejaYhteensa, #autoKlikkereitaYhteensa, #totalEnergy, #totalColonnies, #totalRealClicks{
    margin-left:10px;
   width:30px;  
    float:left;
}


.saveGame{
    height:30px;
    width:120px;
    color:white;
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(rgb(25, 69, 141), rgb(19, 47, 99));
    border:0;
    box-shadow: 0px 4px 5px #0000006c;
    border-radius: 5px;
}
.saveGame:hover{
    height:30px;
    width:120px;
    color:white;
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(rgb(25, 69, 141), rgb(4, 31, 75));
}



/** STATS RIGHT ALUE END **/
/** STATS RIGHT ALUE END **/
/** STATS RIGHT ALUE END **/




/** ACHIEVEMENT RIGHT ALUE  **/
/** ACHIEVEMENT RIGHT ALUE  **/
/** ACHIEVEMENT RIGHT ALUE  **/

#achievements {

    height:200px;

}
.achievementIcon {
    width:70px;
    height:50px;
    margin-left:25px;
    background-image: linear-gradient(rgb(159, 26, 199), rgb(94, 15, 110));
    text-align: center;
    color: rgb(255, 208, 0);
    text-shadow: 1px 1px 3px #00000080;
    border-radius: 5px;
    
    font-weight: bolder;
    font-size:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
table {
    margin-left: auto;
    margin-right: auto;    
    border-spacing: 10px;
}



/** ACHIEVEMENT RIGHT ALUE END **/
/** ACHIEVEMENT RIGHT ALUE END **/
/** ACHIEVEMENT RIGHT ALUE END **/


/** GAME ALUE ALUEEN SÄÄDÖT **/
/** GAME ALUE ALUEEN SÄÄDÖT **/
/** GAME ALUE ALUEEN SÄÄDÖT **/

#gameArea {  /**BOX-Model_säännöt DONT CHANGE**/
    text-align:center;
    z-index:-1;
    flex: 1;
}

#gameArea {  /**Vapaat säännöt!**/

}

/**  TÄMÄ SÄÄTÄÄ KAIKKI PLANEETAT IRRALLEEN TOISISTAAN **/
.placeTest{

}
.leijuvat{
    position:fixed;
    margin-left:-65px;
}

#centerSun {
    z-index:51;
}

#venus{
    margin-left:-500px;
    margin-top:50px;
    width:170px;
}

#bluePlanet{
    width:140px;
    margin-top:70vh;
    margin-left:40vh;
}

#Planet_02{
    width:140px;
    margin-top:45vh;
    margin-left:-50vh;
}

#rocket1 {
    width:150px;
    margin-left:-500px;
    margin-top:400px;
}


#siirtokunta1{
    width:100px;
    margin-top:37%;
    margin-left:4%;
}


/**  TÄMÄ SÄÄTÄÄ PLANEETAT JOKO VASEMMALLE TAI OIKEALLE SIVULLE TOISISTAAN **/

/** GAME AREA RIGHT ALUE END **/
/** GAME AREA RIGHT ALUE END **/
/** GAME AREA RIGHT ALUE END **/




























